/********************************
GENERAL
*********************************/
a{
text-decoration: none;
}


#wrapper{
    max-width: 940px;
    margin:0% auto;
    padding:0 5%;
}


/*site of the body*/
body {background-color: #fff;
    color: #999;
}



/********************************
HEADING
*********************************/

#logo  {text-align: center;
        margin: 0;
}
h1{
font-family: 'Changa One', sans-serif;
margin: 0;
font-size: 1.75 em;
font-weight: normal;
line-height: 0.8e;
}


/********************************
COLORS
*********************************/

/* logo text */

header {
    background: #6ab47b;
border-color : #599a68;
}
h1,h2 {
    color:#fff;
}

a {

    color:#6ab47b;
}




/* color for a nav link */


/*navigation */

nav {
    background: #599a68;
}


nav a,  nav a:visited {
    color:#fff;
}
/* selected nav link */

nav a.selected, nav a:hover {
    color : #32673f;
}
